language: php

php:
  - 7.1

cache:
  directories:
    - .composer/cache

before_install:
  - alias composer=composer\ --no-interaction && composer selfupdate
  - composer global require hirak/prestissimo

install:
  - travis_retry composer install --no-progress --profile --no-scripts --no-suggest

script:
   - mkdir -p build/logs
   - php vendor/bin/phpunit

after_success:
  - travis_retry php vendor/bin/php-coveralls